@model Project1.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

           @* @{
            string day=DateTime.Now.DayOfWeek.ToString();
            switch(day)
            {
                case "Total1":
                Dia = 14.2  B.C 8.6 
                break;
 
                case "Tuesday":
                <h3>It's Tuesday</h3>
                break;
 
                case "Wednesday":
                <h3>It's Wednesday</h3>
                break;
 
                case "Thursday":
                <h3>It's Thursday</h3>
                break;
 
                case "Friday":
                <h3>It's Friday</h3>
                break;
 
                case "Saturday":
                <h3>It's Saturday</h3>
                break;
 
                case "Sunday":
                <h3>It's Sunday</h3>
                break;
 
                default:
                <h3>What! Ok! Its Funday</h3>
                break;
            }*@
            <div class="form-group">
                <label asp-for="Sphere" class="control-label"></label>
                <input asp-for="Sphere" class="form-control" />
                <span asp-validation-for="Sphere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cylinder" class="control-label"></label>
                <input asp-for="Cylinder" class="form-control" />
                <span asp-validation-for="Cylinder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Axis" class="control-label"></label>
                <input asp-for="Axis" class="form-control" />
                <span asp-validation-for="Axis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseCurve" class="control-label"></label>
                <input asp-for="BaseCurve" class="form-control" />
                <span asp-validation-for="BaseCurve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sph" class="control-label"></label>
                <input asp-for="Sph" class="form-control" />
                <span asp-validation-for="Sph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cyl" class="control-label"></label>
                <input asp-for="Cyl" class="form-control" />
                <span asp-validation-for="Cyl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="axis1" class="control-label"></label>
                <input asp-for="axis1" class="form-control" />
                <span asp-validation-for="axis1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BC" class="control-label"></label>
                <input asp-for="BC" class="form-control" />
                <span asp-validation-for="BC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diameter" class="control-label"></label>
                <input asp-for="Diameter" class="form-control" />
                <span asp-validation-for="Diameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
