@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
   
}
/*Select Brand of contacts*/
.content{
    text-align:center;
}
.content {
    font-size:160px;
    color:white;
    font-weight:600;
}

    /*Select Brand of contacts*/
.content :hover {
    -webkit-text-stroke: 2px #ffffff;
     color: transparent;
}
/*Select Brand of contacts*/
.content {
    text-decoration: none;
    display:inline-block;
    color:white;
    font-size: 24px;
    border: 2px solid white;
    padding:14px 70px;
    border-radius: 50px;
    margin-top: 20px; 
}

/*add to cart */
.text{
    border:2px solid #0026ff;
    background:#000000;
    color: white;
    font-weight:bold;
    margin: 20px;
    padding: 5px 10px;
}
    /*add to cart */
.text:hover{
   box-shadow: 0 0 5px #ffd800;
}

.centered {
    border: 2px solid #8f8ea9;
    border-radius: 5px;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: subgrid;
    
}
/*nav bar for heading page*/
.nav-link {
    list-style-type: none;
    position: sticky;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    display: block;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}
    /*nav bar for heading page*/
.nav-link:hover {
        background-color: moccasin;
        color: white;
    }
.row {
    border: 2px solid #8f8ea9;
    border-radius: 5px;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: subgrid;
}

